<div class="header_content">
    <h2>web devloper/reader</h2>
    <h1>webde deepu</h1>
    <button><a href="#">Code</a></button>
    <button><a href="#">Design</a></button>
</div>
</header>
</body>
</html>


