<div class="progress" style="height:30px">
    <img src="img/germany-83545_1920.jpg" alt="footer img" style="height: 50px;width: 80px;">
    <div class="progress-bar" style="width:60%;height:30px"></div>
  </div>
</div>


</body>
</html>